{% extends "cardonalab/detail_base.html" %}

{% block object-tools-extra %}
<li><a class="addlink" href="{% url 'admin:cardonalab_stock_add' %}?strain={{object.id}}">Create Stock</a></li>
{% endblock %}

{% block object_body %}
<h2>{{object.name}}</h2><br>
<table>
    <tr><td><b>Species</b></td><td>{{object.species}}</td></tr>
    <tr><td><b>Genotype</b></td><td>{{object.genotype}}</td></tr>
    <tr><td><b>Resistance</b></td><td>{{object.resistance}}</td></tr>
    <tr><td><b>Notes</b></td><td>{{object.notes}}</td></tr>
</table>

{% if object.stock_set.all|length > 0 %}
<h2>Found in stocks:</h2>
<table>
    <tr><td><b>Stock id</b></td><td><b>Plasmid</b></td></tr>

    {% for stock in object.stock_set.all %}

    <tr><td><a href="{% url 'admin:Stock_view' stock.id %}">{{stock.id}}</a></td>
        <td>{% if stock.plasmid %}<a href="{% url 'admin:Plasmid_view' stock.plasmid.id %}">{{stock.plasmid}}</a>{% else %}(None){% endif %}</td></tr>
    
    {% endfor %}

</table>
{% else %}
<br>No stocks with this strain
{% endif %}


{% endblock %}